body {
  background-color: #000000;
}

.dark {
  color: #282c34;
}

.App {
    display: relative;
    width: 100%;
    height: 100%;
  }

  .swiper-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }

  .tile {
    /* background-color: #282c34; */
    position: relative;
    color: white;
    /* color: red; */
    overflow: hidden;
    width: 100vw;
    height: min(100vh, 160vw);
  }
  
  .tile-name {
    position: absolute;
    top: 2vh;
    left: 2vh;
    width: auto;
    height: auto;
    font-size: 15vmin;
    text-align: left;
    /* color: #282c34; */
  }
  
  .tile-meta {
    position: absolute;
    top: 2vh;
    right: 2vh;
    width: auto;
    height: auto;
    font-size: 15vmin;
    text-align: right;
    color: #282c34;
  }
  
  .tile-value {
    position: absolute;
    top: max(22vh, 10vw);
    left: 0;
    text-align: center;
    width: 100vw;
    height: auto;
  }

  .tile-value-text {
    font-size: 22vmin;
    line-height: 52vmin;
    vertical-align: top;
  }

  .tile-value-big {
    font-size: 50vmin;
  }
  
  .tile-value-small {
    font-size: 30vmin;
  }

  .tile-description {
    position: absolute;
    bottom: 2vh;
    left: 2vh;
    width: auto;
    height: auto;
    font-size: 15vmin;
    text-align: left;
    color: #282c34;
  }

  .tile-raw-value {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    width: auto;
    height: auto;
    font-size: 15vmin;
    text-align: left;
    color: #282c34;
  }
  
  .tile-tide {
    position: absolute;
    top: 28vh;
    left: 0;
    width: 100vw;
    height: auto;
    font-size: 9vmin;
    text-align: center;
  }

  .tile-tide ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }